.dashboard {
    position: relative;
    margin: 80px 0 10px 20px;
    padding: 0;
    height: auto;
    width: 400px;
    float: left;
}

.profile-block,
.follower-details {
    border-radius: 25px;
    box-shadow: 0 1px 20px 5px black;
}

.cover-photo {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 200px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile-photo {
    border: 2px solid #fff;
    position: absolute;
    top: 150px;
    left: 5px;
    font-size: 50px;
    font-family: cursive;
    letter-spacing: 0.3px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-details {
    margin-top: -5px;
    padding-bottom: 10px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-pic {
    float: right;
    height: 200px;
    width: 200px;
}

.profile-id {
    margin-top: -180px;
    margin-left: 240px;
    margin-bottom: 50px;
    width: fit-content;
    max-width: 200px;
}

.name {
    font-family: 'Limelight', cursive;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
}

.handle {
    display: block;
    margin-bottom: 10px;
    color: #657786;
    text-align: center;
}

.username {
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
}

.userid {
    display: block;
    margin-bottom: 10px;
    color: #657786;
}

.profile-following {
    margin-left: 180px;
}

.profile-followers {
    margin-left: 20px;
}

.assets {
    display: flex;
}

.follower-details {
    background-color: white;
}

.follower-image {
    border-radius: 100%;
    max-width: 45px;
    padding: 10px 2px 0 0;
}

.list-inline li {
    padding-left: 15px;
    display: inline;
}

.list-inline {
    padding-left: 5px;
}

.profile-icon {
    border: none;
    padding: 0px;
    border-radius: 100%;
}

.profile-page {
    display: flex;
}


/*
margin: 0 45px;
    padding: 0;
    color: black;
    font-size: 50px;
    font-family: cursive;
    line-height: 19px;
    letter-spacing: 0.2625px;
    border-radius: 50%;
    border-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    
.name {
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    line-height: 1.2;
}

.handle {
    display: block;
    margin-bottom: 10px;
    color: #657786;
}

.assets {
    padding: 10px 0;
}

.assets-count {
    padding: 0 16px;
    display: block;
    font-size: 13px;
    color: #657786;
}

.assets-title {
    font-weight: 600;
    padding: 0 16px;
    color: #657786;
    display: block;
}

.no-left-pad {
    padding-left: 0;
}

*/