<div class="interests-home">
    <!-- This is interests title-->
    <!--  <div class="interests-title">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
        </style>
        <label>Interests</label>
    </div> -->

    <!--This is interests options card-->
    <div class="interests-options">
        <mat-card class="interests-card">
            <section class="interests-section" [formGroup]="interests">
                <div class="interest-heading">
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
                    </style>
                    Choose Your Interests...</div>
                <div class="interests-inputs">
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
                    </style>
                    <p>
                        <mat-checkbox formControlName="politics">Politics</mat-checkbox>
                        <mat-icon>account_balance</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="sports">Sports</mat-checkbox>
                        <mat-icon>sports_handball</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="gaming">Gaming</mat-checkbox>
                        <mat-icon>videogame_asset</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="travel">Travelling</mat-checkbox>
                        <mat-icon>emoji_transportation</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="arts">Arts</mat-checkbox>
                        <mat-icon>color_lens</mat-icon>
                        <mat-icon>brush</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="petCare">Pet Care</mat-checkbox>
                        <mat-icon>pets</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="music">Music</mat-checkbox>
                        <mat-icon>speaker_group</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="cooking">Cooking</mat-checkbox>
                        <mat-icon>blender</mat-icon>
                        <mat-icon>restaurant_menu</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="reading">Reading</mat-checkbox>
                        <mat-icon>auto_stories</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="movies">Movies</mat-checkbox>
                        <mat-icon>live_tv</mat-icon>
                    </p>
                    <p>
                        <mat-checkbox formControlName="others">Others</mat-checkbox>
                    </p>
                </div>
            </section>
            <mat-form-field *ngIf="interests.get('others').value" class="user-input">
                <input matInput placeholder="Ex. Photography...">
            </mat-form-field>
        </mat-card>
    </div>
</div>