.introq {
    padding: 60px 0 0 0;
    display: relative;
}

.question-header {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 48px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 900;
    position: sticky;
}

.mat-grid-tile {
    object-fit: cover;
    min-width: 100vh;
    max-width: fit-content;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 20px 5px black;
}

.mat-grid-tile.top-questions {
    height: 300px !important;
    flex-grow: 1;
    top: 0px;
    margin-bottom: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-grid-tile.added-questions {
    height: 400px !important;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-grid-tile.input-questions {
    height: 50px !important;
    margin-top: 350px;
    margin-right: 5px;
}

.user_added_question {
    color: royalblue;
}

.mat-grid-tile.top-questions::-webkit-scrollbar {
    display: none;
}

.mat-grid-tile.added-questions::-webkit-scrollbar {
    display: none;
}

 ::ng-deep textarea::-webkit-scrollbar {
    display: none !important;
}

 ::ng-deep .mat-grid-tile .mat-figure {
    margin-top: 50px !important;
    margin-left: 5px !important;
    display: table-cell !important;
}

.back-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.submit-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.add-icon {
    position: fixed;
    bottom: 80px;
    left: 650px;
}

#add_mat_icon {
    font-size: 50px;
    align-items: center;
    z-index: 99;
}

 ::ng-deep .q-label {
    position: fixed;
    top: 150px;
    z-index: 2;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: blueviolet
}

 ::ng-deep .mat-chip-list-wrapper {
    position: absolute;
    width: 100%;
    margin-left: 0;
    height: fit-content !important;
}

.mat-chip {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold !important;
    font-size: 18px;
}

 ::ng-deep .mat-tooltip {
    font-family: 'Architects Daughter', cursive !important;
    font-size: small;
}

 ::ng-deep textarea {
    min-width: 150px !important;
    max-width: 630px !important;
    width: 100% !important;
    height: 50px !important;
    margin-top: -50px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold !important;
    font-size: 18px;
    color: teal;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: lightsteelblue;
}


/*

::ng-deep .user-input .mat-input-element {
    position: absolute;
    background-color: blueviolet !important;
    max-width: 100% !important;
    padding: 5px !important;
}

.abc {
font-family: 'Indie Flower', cursive;
font-size: 24px;
font-weight: bolder;
align-items: center;
display: block;
border-radius: 10px;
padding: 10px 10px 10px;
box-shadow: 0 1px 20px 5px rgba(10, 9, 9, 0.5);
box-sizing: border-box;
margin: 10px;
width: 50%;
height: 100vh;
}

.mat-standard-chip {
font-family: 'Shadows Into Light', cursive;
font-size: 18px;
font-weight: bolder;
color: rgb(23, 18, 58)
}

.mat-option {
font-family: 'Shadows Into Light', cursive;
font-size: 18px;
font-weight: bolder;
color: rgb(23, 18, 58)
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
background-color: lightsteelblue;
}

.back-icon {
position: fixed;
bottom: 10px;
left: 10px;
}

input.mat-chip-input {
flex: 1 0 25px;
}

.submit-icon {
position: fixed;
bottom: 10px;
right: 10px;
}
*/


/*
#new-question {
padding: 5px 0 0 0;
width: 100%;
resize: vertical;
overflow: auto;
background-color: lawngreen;
}*/