/*
.login-form {
  margin: 0;
  padding: 0;
  background: url("/../assets/madwe_home.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*/

.mat-card-title {
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

.login-card {
    height: fit-content;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    background-color: wheatsmoke;
    padding: 0 24px;
    box-shadow: 0 1px 20px 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
}

::ng-deep .mat-form-field-label {
    color: white !important;
    opacity: 0.9;
}

::placeholder {
    color: yellowgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;
    font-size: small;
}

.mat-input-element {
    color: white;
}

.mat-form-field {
    width: 100%;
    color: white;
}

.mat-raised-button {
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.submit-buttons {
    display: inline-flex;
    padding: 5px;
}

.google-facebook {
    padding-left: 50px;
}

.fa-google {
    color: royalblue;
    font-size: larger;
    font-weight: bold;
}

.fa-facebook-f {
    color: teal;
    font-size: larger;
    font-weight: bold;
}

.login-error {
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px firebrick;
}

.fa-user-alien {
    color: white;
}

.login-error-icon {
    font-size: 16px;
    text-shadow: 2px 2px firebrick;
}

.login-error-instruction {
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px midnightblue;
    padding: 5px;
}

.fa-user-astronaut {
    color: white;
    padding: 2px;
}