.basicInfo-form {
    min-width: 150px;
    max-width: fit-content;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: block;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgba(0, 0, 0, 1);
}

.full-width {
    width: 100%;
    padding: 0;
}

.address2-width {
    width: 60%;
    margin-right: 30px;
}

.id-proof-width {
    width: 30%;
}

.mat-input-element,
.mat-select,
.mat-option {
    font-family: cursive;
    font-weight: bolder;
    font-size: 17px;
}

.title {
    margin: 20px 0;
    letter-spacing: 2px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 60px 0 0 0;
    font-family: 'Sancreek', cursive;
    font-size: xxx-large;
}

::placeholder {
    color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;
    font-size: small;
    font-weight: bold;
}

.wrap-mat-radio-label {
    padding-right: 8px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(66, 134, 244);
    background-color: rgb(66, 134, 244);
}

.circle {
    margin: 0 45px;
    padding: 0;
    color: black;
    font-size: 50px;
    font-family: cursive;
    line-height: 19px;
    letter-spacing: 0.2625px;
    border-radius: 50%;
    border-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
}

.img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile-details {
    float: right;
    height: 200px;
    width: 200px;
}

.height-weight {
    float: left;
    margin: 25px 0 0 0;
}

.back-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: lightsteelblue;
}

.submit-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}