video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -9;
    /* filter: blur(1px); */
}

.basicinfo-interests-card {
    width: fit-content;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 36px;
    color: teal;
    z-index: 9;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 0 1px 20px 5px black;
}

.interests-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    width: fit-content;
    left: 450px;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: lightsteelblue;
}

.basic-info-interests {
    display: flex;
}

.submit-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
}