/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* 
body {
  margin: 0;
  font-family: sans-serif;
}
 */

@font-face {
    font-family: "logo-font";
    src: url(./assets/fonts/CalligraphyWet-AX62.ttf);
}