<div class="home">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="header">
        <div class="home-couple">
            <img alt="home_couple_img" src="./assets/wedding1.jpg">
        </div>
        <div class="toolbar">
            <mat-toolbar>
                <!--  <div class="logo">
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
                    </style>
    
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
                    </style>
    
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
                    </style>
                    <p>M</p>
                </div>
                <div class="next-logo">
                    <p>adwe</p>
                </div> -->
                <span class="header-spacer"></span>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon matTooltip="About Us" matTooltipPosition="above">build</mat-icon>
        
                </button>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon matTooltip="Career" matTooltipPosition="above">school</mat-icon>
                    
                </button>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon matTooltip="Donate" matTooltipPosition="above">accessibility_new</mat-icon>
                    
                </button>

                <!-- <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon>perm_media</mat-icon>
                    Gallery
                </button>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon>school</mat-icon>
                    Career
                </button>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with heart icon">
                    <mat-icon>perm_phone_msg</mat-icon>
                    Contact Us
                </button> -->
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with share icon">
                    <mat-icon matTooltip="Support" matTooltipPosition="above">support</mat-icon>
                </button>
                <button class="toolbar-button" mat-raised-button aria-label="Example icon-button with share icon">
                    <mat-icon matTooltip="Share" matTooltipPosition="above">share</mat-icon>
                </button>
            </mat-toolbar>
        </div>
    </div>

    <div class="home-content">
        <div class="title-quote">
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');
            </style>
            <p>" We are all a little weird...!!</p>
            <p>and life's a little weird and when we find someone</p>
            <p>whose weirdness is compatible with ours,</p>
            <p>we join up with them</p>
            <p>and fall in mutual weirdness, and call it</p>
            <p>LOVE"</p>
        </div>

        <div class="madwe-signup">
            <mat-card class="home-card" matTooltip="LogIn to Find a Perfect Match..!" matTooltipPosition="above">
                <mat-card-title>
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
                    </style>
                    <!-- <style>
                        @import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap');
                    </style> -->
                    <span class="home-card-title1"> Madwe</span>
                    <!-- <span class="home-card-title2" style="font-size: x-large;">.com</span> -->
                </mat-card-title>
                <hr class="divider">
                <mat-card-content class="home-card-content">
                    <div class="message">
                        <style>
                            @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
                        </style>
                        <style>
                            @import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
                        </style>

                        Keep CALM
                        <br>
                        <br>
                        <i>
                            It's only a WEDDING !!...
                        </i>
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <style>
                        @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
                    </style>
                    <button class="home-card-button" [style.background-color]="'silver'" mat-raised-button (click)="openLogInDialoge()">LogIn</button>
                    <button class="home-card-button" [style.background-color]="'greenyellow'" mat-raised-button (click)="openSignUpDialoge()">SignIn</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <footer class="footer">
            <p>&copy; All rights reserved for <i>Madwe App</i> 2021</p>
        </footer>

    </div>
</div>