
<div class="home">

    <mat-card class="home-card">
        <mat-card-title>Madwe</mat-card-title>

        
            <mat-card-content class="home-card-content">
                <div class="message">
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
                    </style>
                       
                        Keep CALM.
                        <br>
                        <br>
                        <i>
                        It's only a WEDDING!...
                    </i>
            </div>
            </mat-card-content>
        
        <mat-card-actions>
            <button mat-raised-button (click)="logIn()">LogIn</button>
            <button mat-raised-button (click)="signIn()">SignIn</button>
        </mat-card-actions>
    </mat-card>

</div>