.home-content {
    margin: 80px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .header-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -2;
}

::ng-deep .mat-tooltip {
    font-family: cursive;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
}

.title-quote {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 42px;
    line-height: 48px;
    margin-left: auto;
}

.mat-card-title {
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
    width: 100%;
    padding: 10px 0;
    color: white;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-size: 60px;
}

.home-card {
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 15px 5px black;
    border-radius: 10px;
    padding: 0 24px 48px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 ::ng-deep .home-card-content {
    color: white;
    font-family: 'Englebert', sans-serif;
    font-size: xx-large;
}

.home-card-button {
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: large;
    background: #FCDB00;
    border: none;
    outline: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.toolbar-button {
    color: white;
    border: none;
    outline: none;
    background: darkslateblue;
    box-shadow: 0 5px 15px 5px black;
    border-radius: 10px;
    cursor: pointer;
    height: 42px;
    margin: 5px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo {
    color: whitesmoke !important;
    font-family: 'logo-font', cursive;
    font-size: 60px;
    text-align: center;
}

.next-logo {
    color: whitesmoke !important;
    font-family: 'logo-font', cursive;
    font-size: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

::ng-deep.mat-dialog-container {
    padding: 0px !important;
    overflow: visible !important;
    background-color: rgba(0, 0, 0, 0.5);
    height: 0px !important;
}


/*
::ng-deep .mat-dialog-container {
    display: flex !important;
    height: inherit !important;
    padding: 0 !important;
    background: none !important;
    overflow: hidden !important;
    box-shadow: 0 1px 20px 10px rgba(255, 255, 255, 0.5) !important;
    box-sizing: border-box !important;
}




.home-image {
    background: url("/../assets/madwe_home.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
*/