<app-header></app-header>
<div class="home">
    
    <mat-card class="home-card">
        <mat-card-title>Madwe</mat-card-title>

        <mat-card-content class="home-card-content">
            <h1><i>We bring people together.
                <br>
                Love unites them...</i>
            </h1>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button><a [routerLink] = "'/login'">LogIn</a></button>
            <button mat-raised-button><a [routerLink] = "'/signup'">SignIn</a></button>
         </mat-card-actions>
    </mat-card>
    
</div>